node
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
/.classpath
/.settings
/.project
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/target/
/store/
/.gradle/
/logs/
/build/
/backup/
/nashorn_code_cache
.sts4-cache
/store.*
/node_modules

/activemq-data
/models
.metals
.bloop
.sonar_lock
/.idea

.flattened-pom.xml
dependency-reduced-pom.xml
/dist/
/.claude
/connector/connector-app/src/main/resources/public
/dumont-react/.__mf__temp
/dumont-react/.mf
/db/db-plugin/target
/db/db-plugin-sample/dist
/db/db-plugin-sample/target
/assets/assets-connector/target
/assets/assets-plugin-sample/target
/assets/assets-plugin/target
/db/db-app/target
/db/db-sample/target
/web-crawler/wc-sample/target
/web-crawler/wc-plugin-sample/target
/aem/aem-commons/target
/web-crawler/wc-plugin-sample/dist
/assets/assets-plugin-sample/dist
/aem/aem-plugin-sample/turing-export/app/node_modules
/assets/assets-plugin-sample/turing-export/app/node_modules
/db/db-plugin-sample/turing-export/app/node_modules
/web-crawler/wc-plugin-sample/turing-export/app/node_modules
